<% content_for :appname do %>
	Pr0filer
<% end %>
<div class="jumbotron">
	<h1>Welcome to Profiler.</h1>
	<p>This is a prototype user-management system.  Go on and take a test drive.</p>
	<a href="/signin" class="btn btn-primary btn-lg" role="button">Get started!</a>
</div>
<div class="row">
	<div class="col-sm-3 bucket">
		<h4>Manage Users</h4>
		<p>
			Profiler supports full login and registration.  Users can edit their own profiles and account settings.
		</p>
	</div>
	<div class="col-sm-3 bucket">
		<h4>Leave messages for users</h4>
		<p>
			Users can post messages on their own profile pages.  Users can also navigate to other users' profiles to leave messages, as well as respond to messages that others have left them.
		</p>
	</div>
	<div class="col-sm-3 bucket">
		<h4>Administrator functionality</h4>
		<p>
			Administrators can edit and delete user accounts.  Administrator rights are granted by other administrators.
		</p>
	</div>
</div>