<% content_for :title do %>
	New User
<% end %>

<% content_for :form_left do %>
<h2>Add a new user</h2>
<form action="/users/" method="post" role="form">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<div class="form-group">
		<label for="first_name">First Name</label>
		<input type="text" name="user[first_name]" class="form-control" id="first_name">
	</div>
	<div class="form-group">
		<label for="last_name">Last Name</label>
		<input type="text" name="user[last_name]" class="form-control" id="last_name">
	</div>	
	<div class="form-group">
		<label for="email">Email Address</label>
		<input type="email" name="user[email]" class="form-control" id="email">
	</div>
	<div class="form-group">
		<label for="password">Password</label>
		<input type="password" name="user[password]" class="form-control" id="password">
	</div>
	<div class="form-group">
		<label for="password2">Confirm Password</label>
		<input type="password" name="user[password_confirmation]" class="form-control" id="password2">
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-success pull-right">Create</button>
	</div>
</form>
<% end %>