header {
	background-color: black;
	padding: 10px 0 0 0;
	border-bottom: 2px black ridge;

	h3 {
		font-weight: bold;
		margin: 0 0 10px 30px;
	}

	&, a, a:hover {
		color: #fdf6e3;
	}

	a:hover {
		text-decoration: none;
	}
}

.form_left {

	form {
		margin: 20px 0 60px 0;
	}

	button {
		margin: 0 0 20px 10px;
	}

	.notice {
		margin: 50px 0 0 0;
		padding: 10px;
		border-radius: 5px;
		background-color: aquamarine;

		h4 {
			margin: 0 0 10px 0;
		}

		thead {
			background-color: transparent;
		}

		td {
			padding: 0 10px 0 0;
		}
	}
}

.form_right {
	color: red;
	margin: 72px 0 0 0;

	.green {
		color: green;
	}
}

.jumbotron {
	background-image: image-url('t1.jpg');
	margin: 0;
	background-size: cover;
	background-repeat: no-repeat;

	h1, p {
		color: white;
	}
}
	
.bucket {
	padding: 5px;
	margin-left: 10px;
}