header {
	border-bottom: 2px black ridge;
	padding: 10px 0 0 0;
	background-color: black;
}

	header h3 {
		font-weight: bold;
		margin: 0 0 10px 30px;
	}

	header, header a, header a:hover {
		color: #FDF6E3;
	}

	.form_left form {
		margin: 20px 0 60px 0;
	}

	.form_left button {
		margin: 0 0 20px 10px;
	}

.form_right {
	color: red;
	margin: 72px 0 0 0;
}

	.green {
		color: green;
	}

.jumbotron {
	background: url('t1.jpg');
	margin: 0;
	background-size: cover;
	background-repeat: no-repeat;
}

	.jumbotron h1, .jumbotron p {
		color: white;
	}
	
.bucket {
	padding: 5px;
	margin-left: 10px;
}