thead {
	background-color: silver;
}

.odd {
	background-color: #FFFDDF;
}

.even {
	background-color: #D9EFF9;
}

textarea {
	overflow-y: auto;
}

.module_left, .module_right, .module_down {
	border: 1px silver solid;
	border-radius: 5px;
	padding: 10px 20px 50px 20px;
}

.module_right {
	color: black;

	.main form {
		padding: 10px 20px 50px 20px;
	}
}

.messenger, .commenter {
	padding: 10px;

	.timed {
		font-style: italic;
	}

	.messenger div, .commenter div {
		border: 1px silver solid;
		border-radius: 5px;
		overflow-y: auto;
		height: 60px;
		padding: 10px;
	}
}