thead {
	background-color: silver;
}

.odd {
	background-color: #FFFDDF;
}

.even {
	background-color: #D9EFF9;
}

textarea {
	overflow-y: auto;
}

.module_left, .module_right, .module_down {
	border: 1px silver solid;
	border-radius: 5px;
	padding: 10px 20px 50px 20px;
}

.module_right {
	color: black;
}

	.main form {
		border: 1px red solid;
		padding: 10px 20px 50px 20px;
	}

.messenger {
	border: 1px silver solid;
	padding: 10px;
}

	.title {

	}

	.timed {
		font-style: italic;
	}

	.messenger div {
		border: 1px silver solid;
		overflow-y: auto;
		height: 60px;

	}

	.commenter {
		border: 1px green solid;
		padding: 10px;
	}

		.commenter div {
			border: 1px green solid;
			overflow-y: auto;
			height: 60px;
		}
