thead {
	background-color: silver;
}

.odd {
	background-color: #FFFDDF;
}

.even {
	background-color: #D9EFF9;
}

textarea {
	overflow-y: auto;
}

.module_left, .module_right, .module_down {
	border: 1px silver solid;
	border-radius: 5px;
	padding: 10px 20px 50px 20px;
}

.module_right {
	color: black;
}
